.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.footer__b{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;


    
    .footer__link:link,
    .footer__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        cursor: pointer;
        transition: all .2s;
    }
   

    .footer__link:hover,
    .footer__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-2px);
    }
}


.terms {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    width: 40%;
    text-align: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}


.term__link:link,
.term__link:visited {
  color: grey;
  text-decoration: none;
  transition: all .2s;
}

.term__link:hover,
.term__link:active {
    color: #fff;
}

.copyright {
    font-size: 1.2rem;
    color: gray;
    text-align: center;
    margin-top: 3rem;
}

