.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 3rem;
    justify-content: center;

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;
        font-size: 1.6rem;
        color: #fff;

    
    }
  
    
    }

    @media only screen and (max-width: 480px) {
      
        .header {
            grid-column: full-start / full-end;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        
            &__btn {
                font-size: 1.3rem;
                justify-self: center;
                align-self: center;
                
            }
        
            &__seenon-text {
                display: flex;
                text-align: center;
                font-size: 1.3rem;
                color: #fff;
        
            
            }
          
            
            }
      }